/* general css */
ul{
    list-style:none;
}
a{
    text-decoration: none;
    color:black;
}

/* navbar */
nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar{
    margin: 0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 5px 15px 5px 10px;
    box-sizing: border-box;
    background-color: white;
}

.logo{
    margin: 0.3vw 0 0 0;

}
.logo img{
    max-height: 27px;
}

.navbar .medium-button{
    background-color: rgb(86, 123, 149);
    color:white;
    padding: 10px;
}


/* flex container */
.container{
    margin-top: 80px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

/* first flex figure */
.container figure{
    width: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding: 10px;
}

.figimg{
    margin: 10px;
    width: 80%;
}

/* start of article text */
.container .text{
    display:flex;
    flex-direction: column;
    width: 100vh;
}

.container .author{
    display:flex;
    width: 100vh;
    font-size: 12px;
}
.container .author-info{
    display:flex;
    width: 100vh;
    align-items: center;
    font-size: 12px

}

.author-info p{
    flex:10;
}

.author-info i{
    flex:1;
    text-align:center;
}

/* theory of inflation table*/

.inflation-table{
    width: 70%;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 20px;
}

.inflation-table .table-heading{
    grid-column: 1/-1;
}

.inflation-square{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.inflation-square img{
    width: 100%;
}

/* ending comments of article  text */
.article-end{
    display: flex;
    width: 100vh;
}

.article-end button{
    flex: 6;
}
.article-end i{
    flex: 1;
    text-align:center;
}
.article-end span{
    flex:3;
}

/* read more section */

.read-more{
    margin: 20px;
    font-size: 12px;
    width: 90%;
    display:grid;
    grid-gap: 20px;
    grid-template-areas: 
    "other-articles other-articles  other-articles other-articles other-articles  popular-articles"
    "editor-pick editor-pick editor-pick editor-pick editor-pick  popular-articles";
}

.other-articles{
    border-top: 1px black solid;
    grid-area: other-articles;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

}
.other-articles p{
    grid-column: 1/-1;
}

.editor-pick{
    border-top: 1px black solid;
    grid-area: editor-pick;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.editor-pick p{
    grid-column: 1/-1;
}

.popular-articles{
    border-top: 1px black solid;
    grid-area: popular-articles;
    
}

.individual-article{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}


.individual-article figcaption{
    font-size: 10px;
    color: grey;
}

.individual-article p{
    display:flex;

}

.individual-article img{
    width: 100%;
}

/* popular article section */

.popular-articles{
    display:flex;
    flex-direction: column;
    height: 100vh;
    font-size: 15px;
    padding: 10px;
}

.popular-articles .popular-names{
    border-top: 1px grey solid;
}

/* pre footer */
.pre-footer-container{
    width: 90%;
    border-top: 1px black solid;

}
.pre-footer{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.title{
    font-weight: bold;
}

/*footer */
.footer-container{
    display:flex;
    justify-content: space-between;
}

.footer-container li a:hover{
    text-decoration: underline;
}

